<h1> Welcome to Battle </h1>
<h3> <%= $game.first_player_name %> vs <%= $game.second_player_name %> </h3>

<h4> <%= $game.first_player_name %> HP: <%= $game.first_player_hp %> </h4>
<h4> <%= $game.second_player_name %> HP: <%= $game.second_player_hp %> </h4>

<form action="/attack" method="get">
<input type="submit" value="Launch Attack!!">
</form>
